<a href="https://colab.research.google.com/github/19PA1A0420/pythonbasic/blob/master/CSE7235c_Day_01_Pandas_Master_Copy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>**Pandas Introduction**</center>
---

<br>

## **Pandas DataFrame**

In [0]:
# import pandas
import pandas as pd

## **Reading data**

In [0]:
# Read data from csv file
ipl = pd.read_csv('matches2008-2016.csv')
ipl_new = pd.read_csv('matches2017.csv')

In [149]:
print(ipl)

    match_id  season        city  ... venue_id          umpire1          umpire2
0     2008_1    2008   Bangalore  ...        7        Asad Rauf      RE Koertzen
1     2008_2    2008  Chandigarh  ...        9        MR Benson       SL Shastri
2     2008_3    2008       Delhi  ...        2        Aleem Dar   GA Pratapkumar
3     2008_4    2008      Mumbai  ...        1         SJ Davis        DJ Harper
4     2008_5    2008     Kolkata  ...        3        BF Bowden      K Hariharan
..       ...     ...         ...  ...      ...              ...              ...
572  2016_56    2016      Raipur  ...       27   A Nand Kishore     BNJ Oxenford
573  2016_57    2016   Bangalore  ...        7     AK Chaudhary  HDPK Dharmasena
574  2016_58    2016       Delhi  ...        2        M Erasmus    C Shamshuddin
575  2016_59    2016       Delhi  ...        2        M Erasmus        CK Nandan
576  2016_60    2016   Bangalore  ...        7  HDPK Dharmasena     BNJ Oxenford

[577 rows x 19 columns]

## **Checking data dimensions**
- use the shape method on data frame to get the dimensions

In [150]:
print(ipl.shape)
print(ipl_new.shape)

(577, 19)
(59, 19)

## **Appending DataFrame**
- We need to append new matches data to the old data using append method

In [151]:
ipl_final = ipl.copy()             # Explicitly creating a copy of ipl. Just to make sure you don't modify your original data
ipl_final = ipl_final.append(ipl_new,ignore_index=True)
print(ipl_final)

    match_id  season        city  ... venue_id       umpire1         umpire2
0     2008_1    2008   Bangalore  ...        7     Asad Rauf     RE Koertzen
1     2008_2    2008  Chandigarh  ...        9     MR Benson      SL Shastri
2     2008_3    2008       Delhi  ...        2     Aleem Dar  GA Pratapkumar
3     2008_4    2008      Mumbai  ...        1      SJ Davis       DJ Harper
4     2008_5    2008     Kolkata  ...        3     BF Bowden     K Hariharan
..       ...     ...         ...  ...      ...           ...             ...
631  2017_55    2017       Delhi  ...        2     CK Nandan   C Shamshuddin
632  2017_56    2017      Mumbai  ...        1        S Ravi   C Shamshuddin
633  2017_57    2017   Bangalore  ...        7  AK Chaudhary     Nitin Menon
634  2017_58    2017   Bangalore  ...        7      NJ Llong     Nitin Menon
635  2017_59    2017   Hyderabad  ...        4      NJ Llong          S Ravi

[636 rows x 19 columns]

In [0]:
ipl_final2 = ipl.copy()

## **Data Inspection**

In [153]:
## .shape gives dimentions of Data
print(ipl_final.shape)                            # dim() in R - Dimentions of data

(636, 19)

In [154]:
## Getting top 3 rows usig head method
ipl_final.head(3)

  match_id  season        city  ... venue_id    umpire1         umpire2
0   2008_1    2008   Bangalore  ...        7  Asad Rauf     RE Koertzen
1   2008_2    2008  Chandigarh  ...        9  MR Benson      SL Shastri
2   2008_3    2008       Delhi  ...        2  Aleem Dar  GA Pratapkumar

[3 rows x 19 columns]

In [155]:
## .columns gives column names
print(ipl_final.columns)                          # colnames() in R - Column Namesprint(list(df.index)[:10])

Index(['match_id', 'season', 'city', 'date', 'team1_id', 'team2_id',
       'toss_winner', 'toss_decision', 'result', 'dl_applied', 'winner',
       'win_by_runs', 'win_by_wickets', 'player_of_match',
       'player_of_match_id', 'venue', 'venue_id', 'umpire1', 'umpire2'],
      dtype='object')

In [156]:
## .dtypes gives data types for each column
print(ipl_final.dtypes)                           # str() in R - Data types

match_id               object
season                  int64
city                   object
date                   object
team1_id               object
team2_id               object
toss_winner            object
toss_decision          object
result                 object
dl_applied              int64
winner                 object
win_by_runs             int64
win_by_wickets          int64
player_of_match        object
player_of_match_id    float64
venue                  object
venue_id                int64
umpire1                object
umpire2                object
dtype: object

<br><br>
## **Seting match_id as row index** (rarely used)

In [157]:
ipl_final.set_index(['match_id'],inplace=True)
ipl_final.head(3)

          season        city        date  ... venue_id    umpire1         umpire2
match_id                                  ...
2008_1      2008   Bangalore  18-04-2008  ...        7  Asad Rauf     RE Koertzen
2008_2      2008  Chandigarh  19-04-2008  ...        9  MR Benson      SL Shastri
2008_3      2008       Delhi  19-04-2008  ...        2  Aleem Dar  GA Pratapkumar

[3 rows x 18 columns]

## **Summary statistics**
- using the describe method

In [158]:
ipl.describe()

            season  dl_applied  ...  player_of_match_id    venue_id
count   577.000000  577.000000  ...          574.000000  577.000000
mean   2012.029463    0.025997  ...          187.937282   10.097054
std       2.486247    0.159263  ...          163.146706    9.048535
min    2008.000000    0.000000  ...            1.000000    1.000000
25%    2010.000000    0.000000  ...           59.250000    3.000000
50%    2012.000000    0.000000  ...          146.500000    7.000000
75%    2014.000000    0.000000  ...          279.250000   14.000000
max    2016.000000    1.000000  ...          691.000000   34.000000

[8 rows x 6 columns]

## **Dropping columns**
- using the drop method

In [174]:
# Dropping Column
ipl_final.drop(["team2_id"], axis=1, inplace=True)    # Axis = 1 for columns

ipl.head(3)

KeyError: ignored

## **Dropping row**

In [173]:
ipl_final

          season        date team1_id  ... venue_id       umpire1         umpire2
match_id                               ...
2008_2      2008  19-04-2008      CSK  ...        9     MR Benson      SL Shastri
2008_3      2008  19-04-2008       RR  ...        2     Aleem Dar  GA Pratapkumar
2008_4      2008  20-04-2008       MI  ...        1      SJ Davis       DJ Harper
2008_5      2008  20-04-2008       DC  ...        3     BF Bowden     K Hariharan
2008_6      2008  21-04-2008      KXI  ...        6     Aleem Dar       RB Tiffin
...          ...         ...      ...  ...      ...           ...             ...
2017_55     2017  14-05-2017      RCB  ...        2     CK Nandan   C Shamshuddin
2017_56     2017  16-05-2017      RPS  ...        1        S Ravi   C Shamshuddin
2017_57     2017  17-05-2017      SRH  ...        7  AK Chaudhary     Nitin Menon
2017_58     2017  19-05-2017      KKR  ...        7      NJ Llong     Nitin Menon
2017_59     2017  21-05-2017       MI  ...        4      NJ Llong          S Ravi

[633 rows x 15 columns]

In [160]:
# Dropping rows
ipl_final.drop(['2008_1','2009_1','2010_1'], axis=0, inplace=True)  # axis = 0 for rows and axis=1 for columns

ipl.head(3)

  match_id  season        city  ... venue_id    umpire1         umpire2
0   2008_1    2008   Bangalore  ...        7  Asad Rauf     RE Koertzen
1   2008_2    2008  Chandigarh  ...        9  MR Benson      SL Shastri
2   2008_3    2008       Delhi  ...        2  Aleem Dar  GA Pratapkumar

[3 rows x 19 columns]

## **Frequency distribution**
- using method value_counts for getting the distribution of values for categories

In [161]:
ipl_final['winner'].value_counts()       # table() in R - Frequency count

MI     91
CSK    79
KKR    75
RCB    73
KXI    70
RR     63
DD     62
SRH    42
DC     29
RPS    15
GL     13
PW     12
KTK     6
Name: winner, dtype: int64

## **loc (to subset data by Row/Column labels)**

In [162]:
## Label based indexing make more sense for column subsetting
#Select only venue and winner columns
subset1 = ipl_final.loc[:,['venue','winner']]
subset1.head(3)

                                                      venue winner
match_id
2008_2    I.S. Bindra Punjab Cricket Association Stadium...    CSK
2008_3                      Feroz Shah Kotla Stadium, Delhi     DD
2008_4                Wankhede Stadium, Mumbai, Maharashtra    RCB

In [163]:
## For loc based subsetting using row and column indexer together is rare.
subset2 = ipl_final.loc[['2008_2','2009_2','2010_2',],['venue','winner']]
subset2.head(3)

                                                      venue winner
match_id
2008_2    I.S. Bindra Punjab Cricket Association Stadium...    CSK
2009_2                                             Newlands    RCB
2010_2                                    Brabourne Stadium     MI

## **iloc    (to subset data based on Row/Column number)**

In [164]:
## Numeric based indexing usually makes sense for row subsetting 
ipl.iloc[50:53,1:5]

    season       city        date team1_id
50    2008    Chennai  24-05-2008       RR
51    2008  Bangalore  03-05-2008      RCB
52    2008    Kolkata  25-05-2008      KXI

## **Boolean indexing (to subset based on value in each cell of the column )**
**Here we subsetting the data where the cell value in "City" column is equal to "Hyderabad"**

In [165]:
subset3 = ipl.loc[ipl['city']=='Hyderabad',:]
subset3.head(3)

   match_id  season       city  ... venue_id      umpire1    umpire2
6    2008_7    2008  Hyderabad  ...        4    IL Howell  AM Saheba
8    2008_9    2008  Hyderabad  ...        4    Asad Rauf  MR Benson
17  2008_18    2008  Hyderabad  ...        4  BR Doctrove  RB Tiffin

[3 rows x 19 columns]

## **Piping of functions (for multiple criteria subsetting)**

**Basically output of first function is taken as input for the next function**
#### **Note - We are using a relational operator inside the first function to get a boolean vector (equal to the number of rows we have). Where the value will be True only if the "city" column is "Hyderabad"**

In [166]:
subset4 = ipl.loc[ipl['city']=='Chennai',:].loc[ipl['winner']=='CSK',:].loc[:,['team1_id','team2_id','winner','city']]

## This line achieves the same purpose as above
# subset4 = ipl.loc[(ipl['city']=='Chennai') & (ipl['winner']=='CSK'),:].loc[:,['team1_id','team2_id','winner','city']]

subset4.head(3)

   team1_id team2_id winner     city
7       CSK       MI    CSK  Chennai
11      KKR      CSK    CSK  Chennai
31      CSK      KXI    CSK  Chennai

### **Note**
1. In the first command we have used 3 subsetting logics in a single line
2. This can be alternatively done by chaining conditions using logical operations (&)
3. **You may realize that sometimes giving single indexer (either row or column) works. However it may not be a consistent behaviour and its a good programming practive to specify both the indexers explicitly (row and column) as it makes the code more readable later on.**

## **Replace specific values**

In [167]:
ipl['winner'].value_counts()

MI     80
CSK    79
RCB    70
KKR    68
RR     63
KXI    63
DD     56
SRH    34
DC     29
PW     12
GL      9
KTK     6
RPS     5
Name: winner, dtype: int64

In [168]:
# Lets replace DC with SRH
ipl_updated=ipl_final.replace({'DC':'SRH'}, inplace=False)

ipl_updated['winner'].value_counts()

MI     91
CSK    79
KKR    75
RCB    73
SRH    71
KXI    70
RR     63
DD     62
RPS    15
GL     13
PW     12
KTK     6
Name: winner, dtype: int64

## **Activity**
**What matches are played on 2008-04-20 and who is the winner?**

In [169]:
ipl.loc[ipl['date']=='20-04-2008',:].loc[:,['winner']]

  winner
3    RCB
4    KKR

---
## *<center>End</center>*